:root {
    --letra: 'Poppins', sans-serif;
    --h1Tamaño: 4.5rem;
    --h1LineHeight: 5.813rem;
    --h2Tamaño: 3rem;
    --h2LineHeight:4.5rem;
    --h3Tamaño: 2.25rem;
    --h3LineHeigth: 3.375rem;
    --pTamaño: 1.125rem;
    --pLineHeigth: 2.063rem;

    --azulMedio: #0295A9;
    --azulClaro: #21C1D7;
    --rojo: #E74C3C;
    --amarillo: #FFBB12;
    --verde: #10C700;
}

html {
    font-family: var(--letra);
}