:root {
  --letra: "Poppins", sans-serif;
  --h1Tamaño: 4.5rem;
  --h1LineHeight: 5.813rem;
  --h2Tamaño: 3.5rem;
  --h2LineHeight: 4.5rem;
  --h3Tamaño: 2.25rem;
  --h3LineHeigth: 3.375rem;
  --pTamaño: 1.125rem;
  --pLineHeigth: 2.063rem;

  --azulOscuro: #036370;
  --azulMedio: #0295a9;
  --azulClaro: #21c1d7;
  --rojo: #e74c3c;
  --amarillo: #ffbb12;
  --verde: #10c700;

  --letraGris: #818181;
  --letraNegra: #04162f;
  --letraRoja: #f80505;

  --textShadow: 3px 2px 4px rgba(107, 107, 107, 0.5);

  --boxShadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.5),
    inset 0px 8px 15px 1px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.5),
    inset 0px 8px 15px 1px rgba(0, 0, 0, 0.31);
}

/*GLOBALES DE TODO EL PROYECTO*/

* {
  transition: all 0.2s linear;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html {
  background-color: white;
  font-size: 16px;
}

body {
  font-family: var(--letra);

  cursor: default;

  margin:0;
}
/*Contenedor principal*/
.header-container{
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #0295A9;
  text-align:row;
  justify-content:space-around;
  align-items: center;    
  border-radius: 10px 10px 0px 0px;
}

.header-list{
  color:#000;
  width: 25%;
}

/*Similar header*/
.header-list > ul{
  display: flex;
  width: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  font-weight:500;
}
.img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  width: 280px;
  height: 101px;

}

/*Boton seccion*/

button {
  display: flex;
  justify-content: center;
  padding:10px 42px;
  margin-right: 80px;
  background-color: #036370;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition:all 0.3s ease 0;
}
button:hover{
  background-color: rgba(2, 199, 189, 0.8);

}
/*seccion conra no tocar*/
h1,
h2,
h3,
p {
  text-shadow: var(--textShadow);
  color: var(--letraNegra);
}

h1 {
  font-size: var(--h1Tamaño);
  line-height: var(--h1LineHeight);
}

h2 {
  font-size: var(--h2Tamaño);
  line-height: var(--h2LineHeight);
}

h3 {
  font-size: var(--h3Tamaño);
  line-height: var(--h3LineHeigth);
}

p {
  font-size: var(--pTamaño);
  line-height: var(--pLineHeigth);
}

/*SECTION OUR CORE VALUES*/

.values {
  width: 100vw;
  max-width: 100%;
  height: 60vh;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.values__box {
  width: 100%;
  flex-basis: 27.5%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.values__box--main {
  flex-basis: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
}

.values__enumeracion {
  width: 23%;
  height: 90%;
  background-color: var(--amarillo);
  border-radius: 2.5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  column-gap: 1rem;
  box-shadow: var(--boxShadow);

  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.values__enumeracion:hover {
  transform: scale(1.1);
}

.values__enumeracion p {
  text-shadow: none;
}

.check-symbol {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2.5rem;
  width: 2.5rem;
  background-color: white;
  border-radius: 100%;
}

.check-symbol_svg {
  width: 70%;
  height: auto;
}

.check-symbol h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

/*SECTION OUR SMARTY PROGRAM*/

.smarty-program{
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    height: 70%;
}

.smarty-program h3 {
  padding-bottom: 30px; /*CAMBIAR A REM*/
  background: radial-gradient(
  circle,
  rgba(2, 149, 169, 1) 50%,
  rgba(69, 131, 218, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
    
  }

.smarty-program button {
  background-color: #E74C3C;
  border: none;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--pTamaño)*1.1);
  border-radius:50px; /*CAMBIAR A REM*/
  font-weight: 400;
  border-bottom: 10px; /*CAMBIAR A REM*/
  padding: 1rem 2.1rem ; /*CAMBIAR A REM*/
  box-shadow: var(--boxShadow);
}

.smarty-program__contenedor-imagenes{
  display: flex;
  flex-direction: row;
  justify-content:center;
  
  align-items: center;
  width: 100%;
  max-width: 100vw;
  margin-top: 50px; /*CAMBIAR A REM*/
  
  column-gap: 2rem;
}

.container__elemento {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.elemento__imagen {
  box-shadow: var(--boxShadow);
  border-radius: 50px; /*CAMBIAR A REM*/
  height: 25rem;
  width: 25rem;
}


.elemento__texto {
  color: var(--letraNegra);
  font-weight: bold;
  font-size: calc(var(--pTamaño)*1.3);
}


/*SECTION ABOUT US*/

#about-us {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  gap: 4rem;
}

#kids-imgs {
  max-height: 80%;
}

#kids-imgs #thumbs-up {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

#service-explanation {
  max-height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#service-explanation div {
  height: 25%;
  width: 100%;
}

#service-explanation div#service-title {
  flex-grow: 1;
}

#service-explanation div#service-title h2 {
  font-size: var(--h2Tamaño);
  line-height: var(--h2LineHeight);
  letter-spacing: 0.01rem;
  font-weight: 400;

  background: radial-gradient(
    circle,
    rgba(2, 149, 169, 1) 50%,
    rgba(69, 131, 218, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#service-explanation div#service-info p {
  font-size: var(--pTamaño);
  line-height: var(--pLineHeigth);
  color: var(--letraGris);
}

#service-explanation div#about-us_contact {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

#service-explanation div#about-us_contact a {
  height: 100%;
  width: 50%;
  cursor: default;
  padding: 1rem 0.1rem;
  text-align: center;
}

#service-explanation div#about-us_contact a button {
  background: #000000;
  border-radius: 2rem;
  box-shadow: var(--boxShadow);
  color: #ffffff;
  display: inline-block;
  text-align: center;
  font-family: var(--letra);
  font-size: var(--pTamaño);
  cursor: pointer;
  padding: 0.6rem 3rem;

  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

#service-explanation div#about-us_contact a button:hover {
  transform: scale(1.1);
}

#service-explanation div#about-us_contact p {
  width: 50%;
  height: 100%;
  padding: 1.5rem 0;
  font-size: var(--pTamaño);
  line-height: var(--pLineHeigth);
}

#service-explanation div#about-us_contact p span {
  color: var(--letraRoja);
}

/*MEDIA QUERIES, 
AGREGAR LO QUE SEA NECESARIO 
Y ESPECIFICAR LO MAS POSIBLE 
EN TERMINOS DE CLASES Y IDS*/

/*SECTION ABOUT US MEDIA QUERIES*/

@media screen and (min-width: 889px) and (max-width: 1024px) {
  body {
    background-color: #10c700;
  }
  #kids-imgs {
    max-width: 60%;
    width: 50%;
  }
  #service-explanation div#service-title h2 {
    font-size: calc(var(--h2Tamaño) * 0.7);
    line-height: calc(var(--h2LineHeight) * 0.7);
    padding-bottom: 1rem;
  }

  #service-explanation div#service-info p {
    font-size: calc(var(--pTamaño) * 0.7);
    line-height: calc(var(--pLineHeigth) * 0.9);
  }
  #service-explanation div#about-us_contact p {
    font-size: calc(var(--pTamaño) * 0.7);
  }
  #service-explanation div#about-us_contact a button {
    font-size: calc(var(--pTamaño) * 0.7);
    padding: 0.6rem 2.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 888px) {
  body {
    background-color: red;
  }
  #kids-imgs {
    max-width: 60%;
    width: 50%;
  }

  #service-explanation div#service-title h2 {
    font-size: calc(var(--h2Tamaño) * 0.6);
    line-height: calc(var(--h2LineHeight) * 0.6);
    padding-bottom: 1rem;
  }

  #service-explanation div#service-info p {
    font-size: calc(var(--pTamaño) * 0.6);
    line-height: calc(var(--pLineHeigth) * 0.9);
  }

  #service-explanation div#about-us_contact {
    column-gap: 0;
  }
  #service-explanation div#about-us_contact p {
    font-size: calc(var(--pTamaño) * 0.6);
  }
  #service-explanation div#about-us_contact a button {
    font-size: calc(var(--pTamaño) * 0.6);
    padding: 0.6rem 1.9rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  body {
    background-color: yellow;
  }
  #kids-imgs {
    max-width: 60%;
    width: 50%;
  }

  #service-explanation div#service-title h2 {
    font-size: calc(var(--h2Tamaño) * 0.5);
    line-height: calc(var(--h2LineHeight) * 0.5);
    padding-bottom: 0.5rem;
  }

  #service-explanation div#service-info p {
    font-size: calc(var(--pTamaño) * 0.5);
    line-height: calc(var(--pLineHeigth) * 0.7);
  }

  #service-explanation div#about-us_contact {
    column-gap: 0;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem 0;
  }
  #service-explanation div#about-us_contact p {
    font-size: calc(var(--pTamaño) * 0.5);
    padding: 0;
    width: 100%;
    max-width: 100%;
    order: -1;
  }
  #service-explanation div#about-us_contact a {
  }
  #service-explanation div#about-us_contact a button {
    font-size: calc(var(--pTamaño) * 0.5);
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: aquamarine;
  }

  #about-us {
    flex-direction: column;
    padding: 2rem 0;
    justify-content: flex-start;
  }

  #kids-imgs {
    max-width: 80%;
  }

  #service-explanation {
    width: 80%;
    max-width: 80%;
  }
  #service-explanation div#service-title {
    text-align: center;
  }
  #service-explanation div#service-title h2 {
    font-size: calc(var(--h2Tamaño) * 0.6);
    line-height: calc(var(--h2LineHeight) * 0.6);
    padding-bottom: 0.5rem;
  }

  #service-explanation div#service-info {
    text-align: center;
  }
  #service-explanation div#service-info p {
    font-size: calc(var(--pTamaño) * 0.5);
    line-height: calc(var(--pLineHeigth) * 0.7);
  }

  #service-explanation div#about-us_contact {
    row-gap: 0.5rem;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem 0;
    padding-top: 1rem;
  }
  #service-explanation div#about-us_contact p {
    font-size: calc(var(--pTamaño) * 0.5);
    padding: 0;
    width: 100%;
    max-width: 100%;
    order: -1;
  }
  #service-explanation div#about-us_contact a {
    padding: 0;
  }
  #service-explanation div#about-us_contact a button {
    font-size: calc(var(--pTamaño) * 0.5);
  }
}
