/* .footer-container {
  background-color: #0295a9;
  width: 100vw;
  height: 650px;
  box-shadow: var(--boxShadow);
}
.principal-imagen {
  display: flex;
  justify-content: center;
}
.principal-imagen > img {
  display: flex;
  padding: 15px;
  height: 150px;
  width: 550px;
}
/*Imagen*/

/* .bottom-footer {
  display: flex;
  justify-content: space-between; /*contenedor secciones derecha-izquierda */
  /* padding: 0 100px;
} */

/* .right-top-section,
.list-elements {
  display: flex;
  justify-content: center; /*Contenedor seccion superior*/
  /* color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10rem;
} */ 

/* .list-horizontal {
  display: flex;
  justify-content: space-between; /*class de la lista derecha superior*/
  /* margin: 20px;
} */ 

/* .izq-section {
  width: 50%; /*Seccion izquierda completa container*/
/* }
.izq-section p {
  margin-top: 10px;
  color: #fff;
  margin-bottom: 40px;
} */ 

/* .form-container {
  display: flex;
  justify-content: space-between;
  max-width: 29rem;
  padding: 10px 35px;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: #fff;
  font-weight: 400;
} */

/* .form-container button {
  display: flex;
  border: none;
  padding: 15px 50px;
  background-color: #fff;
  justify-content: center;
  font-weight: 500;
  border-radius: 100px;
  color: #000;
} */
/* .right-section { */
  /*Derecha conteiner completo*/
  /* width: 50%;
} */

/* .right-list {
  display: flex;
  flex-direction: row; /*Lista inferior derecha*/
  /* margin-right: 27%;
  font-size: 20px;
} */ */ */

/*ERROR EN LA FORMA DE ESTILAR, ESTO ROMPE EL HEADER,
LEER DOCUMENTACION DE CSS PARA CORRECTA SELECCION DE 
ELEMENTOS*/

/* .bot-section,ul, li{
    margin-right: 50px;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 400;
} */
/* .left-elements {
  font-size: 20px; /*class de lista izquierda*/



/* .list-horizontal {
  display: flex;
  justify-content: space-between; /*class de la lista derecha superior*/
/* }

@media (max-width: 720px) {
  .bottom-footer {
    flex-direction: column;
  }
}  */
