.container-footer {
  background-color: #0295a9;
  width: 100%;
  height: 500px;
  box-shadow: var(--boxShadow);
  margin: 0 auto;
  padding: 0 20px;
}

.title-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title-footer img {
  display: flex;
  width: 500px;
}

.info-footer {
  display: flex;
  width: 100%;
  align-items: center;
}

.text-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.text-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 396px;
}

.text-footer h3 {
  color: #04162f;
}

.parrafo {
  width: 396px;
}

.text-footer p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 20px;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  font-weight: 400;
  width: 460px;
  margin-left: 60px;
}

.form-container button {
  display: flex;
  border: none;
  padding: 10px 50px;
  background-color: #fff;
  justify-content: center;
  font-weight: 500;
  border-radius: 100px;
  color: #000;
}

.inp {
  border: none;
  outline: none;
  color: #363636b5;
}

.list-footer {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.list-horizontal {
  display: flex;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
}

.item-horizontal {
  display: flex;
  gap: 30px;
  color: #000000cf;
  font-size: 20px;
}

.container-vertical {
  display: flex;
  gap: 90px;
  width: auto;
  justify-content: center;
}

.vertical-1 {
  display: flex;
}

.items-1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #ffffff;
  font-size: 20px;
}

.item-title {
  font-size: 24px;
}

.vertical-2 {
  display: flex;
}

.items-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #ffffff;
  font-size: 20px;
}

@media (max-width: 982px) {
  .info-footer {
    display: flex;
    flex-direction: column;
  }

  .container-footer {
    height: auto;
  }

  .text-footer {
    margin-bottom: 60px;
  }

  .list-horizontal {
    margin-bottom: 40px;
  }

  .container-vertical {
    margin-bottom: 20px;
  }
}

@media (max-width: 830px) {
  .text-footer {
    width: auto;
  }

  /* .text-title {
      width: 100%;
    }
    .parrafo {
      width: 100%;
    } */

  .form-container {
    width: auto;
    margin-left: 1px;
  }
}

@media (max-width: 460px) {
  .form-container {
    width: auto;
    margin-left: 0px;
  }

  .form-container button {
    padding: 7px 20px;
  }

  .text-title {
    text-align: center;
  }

  .text-footer p {
    text-align: center;
  }

  .text-title {
    width: 350px;
  }

  .parrafo {
    width: 350px;
  }
}
