:root {
  --letra: "Poppins", sans-serif;
  --h1Tamaño: 4.5rem;
  --h1LineHeight: 5.813rem;
  --h2Tamaño: 3.5rem;
  --h2LineHeight: 4.5rem;
  --h3Tamaño: 2.25rem;
  --h3LineHeigth: 3.375rem;
  --pTamaño: 1.125rem;
  --pLineHeigth: 2.063rem;

  --azulOscuro: #036370;
  --azulMedio: #0295a9;
  --azulClaro: #21c1d7;
  --rojo: #e74c3c;
  --amarillo: #ffbb12;
  --verde: #10c700;

  --letraGris: #818181;
  --letraNegra: #04162f;
  --letraRoja: #f80505;

  --textShadow: 3px 2px 4px rgba(107, 107, 107, 0.5);

  --boxShadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.5),
    inset 0px 8px 15px 1px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.5),
    inset 0px 8px 15px 1px rgba(0, 0, 0, 0.31);
}
