/* section hero */
.container-hero {
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 70px;
  margin-bottom: 70px;
}

.text-hero {
  display: flex;
  flex-direction: column;
  width: 488px;
  height: 480px;
}

.texto-hero--mobile {
  display: none;
  font-size: calc(var(--h1Tamaño) * 0.8);
  width: 100%;
}

.text-hero h1 {
  color: var(--letraNegra);
  font-weight: 700;
  text-shadow: var(--textShadow);
}

.text-hero p {
  color: var(--letraGris);
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
}

.text-btn {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.btn-1 {
  background: #e74c3c;
  cursor: pointer;
  border-radius: 68px;
  padding: 15px 50px;
  box-shadow: var(--boxShadow);
}

.btn-2 {
  border: 1px solid var(--letraGris);
  border-style: dashed;
  cursor: pointer;
  border-radius: 68px;
  padding: 15px 65px;
  color: var(--letraNegra);
  box-shadow: var(--textShadow);
}

.img-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 488px;
  height: 480px;
}

.item {
  border-radius: 20px;
}

.c-1 {
  box-shadow: var(--boxShadow);
  background: url(/img/imagen1.svg);
  width: 214px;
  height: 220px;
}

.c-2 {
  box-shadow: var(--boxShadow);
  background: url(/img/imagen2.svg);
  width: 214px;
  height: 220px;
}

.c-3 {
  box-shadow: var(--boxShadow);
  background: url(/img/imagen3.svg);
  width: 214px;
  height: 220px;
}

.c-4 {
  box-shadow: var(--boxShadow);
  background: url(/img/imagen4.svg);
  width: 214px;
  height: 220px;
}

.c-5 {
  background: var(--amarillo);
  width: 220px;
  height: 282px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--boxShadow);
}

.fa-user {
  color: #f160e3;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.c-5Number {
  color: var(--verde);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 15px;
}

.c-5p {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 20px;
}

.c-5Btn {
  background: #0e4da4;
  box-shadow: var(--boxShadow);
  padding: 10px 30px;
  border-radius: 68px;
  cursor: pointer;
  color: #ffffff;
  font-size: var(--pTamaño) * 0.9;
}

@media (max-width: 1105px) {
  .text-hero {
    justify-content: center;
    padding-left: 20px;
  }
}

@media (max-width: 1042px) {
  .container-hero {
    margin-left: 10px;
  }

  .img-hero {
    height: 400px;
  }

  .c-1 {
    width: 200px;
    height: 200px;
  }

  .c-2 {
    width: 200px;
    height: 200px;
  }

  .c-3 {
    width: 200px;
    height: 200px;
  }

  .c-4 {
    width: 200px;
    height: 200px;
  }

  .c-5 {
    height: 230px;
    width: 200px;
  }
  .fa-user {
    margin-top: 10px;

    font-size: 30px;
  }
}

@media (max-width: 921px) {
  .container-hero {
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
  }

  .texto-hero--desktop {
    display: none;
  }
  .texto-hero--mobile {
    display: contents;
  }
}

@media (max-width: 430px) {
  .text-hero {
    width: 350px;
    height: auto;
  }
  .texto-hero--desktop {
    display: none;
  }
  .texto-hero--mobile {
    display: contents;
  }
  .btn-1 {
    padding: 10px 30px;
  }
  .btn-2 {
    padding: 10px 30px;
  }

  .img-hero {
    height: 370px;
  }
  .c-1 {
    width: 150px;
    height: 150px;
  }

  .c-2 {
    width: 150px;
    height: 150px;
  }

  .c-3 {
    width: 150px;
    height: 150px;
  }

  .c-4 {
    width: 150px;
    height: 150px;
  }

  .c-5 {
    height: 220px;
    width: 170px;
  }
}
/* termina hero */
