
.teachers-section h3 {
  text-shadow: var(--textShadow);
  text-align: center;
  margin-bottom: 50px;
  margin-top: 200px;
}

.teachers-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));   
  grid-gap: 70px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.container-teacher__elemento{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.container-teacher__elemento img{
  box-shadow: var(--boxShadow);
  border-radius: 50%;
  margin-bottom: 25px;
}
.container-teacher__elemento span {
  color: var(--letraGris);
  text-shadow: var(--textShadow);
}

.container-teacher__elemento p{
  color: #000;
  text-shadow: var(--textShadow);
  font-weight: 400;
  margin-bottom: 5px;
}




