.smarty-program {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  height: 70%;
  padding: 2rem 3rem;

}

.smarty-program h3 {
  padding-bottom: 30px; 
  background: radial-gradient(
    circle,
    rgba(2, 149, 169, 1) 50%,
    rgba(69, 131, 218, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.smarty-program button {
  cursor: pointer;
  background-color: #e74c3c;
  border: none;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--pTamaño) * 1.1);
  border-radius: 50px; 
  font-weight: 400;
  border-bottom: 10px; 
  padding: 1rem 2.1rem; 
  box-shadow: var(--boxShadow);
}

.smarty-program__contenedor-imagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  width: 100%;
  max-width: 100vw;
  margin-top: 50px; 

  column-gap: 2.5rem;
}

.container__elemento {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.elemento__imagen {
  box-shadow: var(--boxShadow);
  border-radius: 50px; 
  height: 20rem;
  width: 20rem;
}

.elemento__texto {
  color: var(--letraNegra);
  font-weight: bold;
  font-size: calc(var(--pTamaño) * 1.3);
}

/*Media smarty program*/

@media (max-width:888px){
  .smarty-program{
    display: flex;
    flex-direction: column;
  }
  .smarty-program__contenedor-imagenes{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
}

@media screen and (min-width: 889px) and (max-width: 1024px){
  .elemento__imagen{
     height: 16rem;
     width: 16rem;
  }
}

@media (max-width: 600px){
  .elemento__imagen{
    height: 13rem;
    width: 13rem;
  }
  .smarty-program{
    text-align: center;
  }
}